extends _partial/layout

block content
    each post in page.posts.sort('date',-1).toArray()
      .post.post-list
        a.post-link(href= url_for(post.path))
          h1.post-list-title= post.title
        div.post-list-meta
          if moment(post.date).isSame(post.updated)
            time.post-list-link-time(itemprop="datePublished", datetime= date_xml(post.date))= "发布于 "+ date(post.date)
          else
            time.post-list-link-time(itemprop="dateModified", datetime= date_xml(post.updated))= "更新于 "+ date(post.updated)
          | &nbsp;| &nbsp;
          span!= "标签：" + list_tags(post.tags, {show_count: false, style: false})
