@import (inline) "https://cdn.bootcss.com/normalize/5.0.0/normalize.min.css";
* {
  box-sizing: border-box;
}

body {
  color: #666;
  font-size: 14px;
  font-family: "-apple-system", "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 'Helvetica,Arial', sans-serif;
  background: #ddd url("https://static.lidong.me/img/2017/03/roman-logov-100555.jpg") no-repeat fixed;
  background-size: cover;
  max-width: 100%;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

pre {
  margin: 0;
  padding: 0;
  color: #ccc;
  background: #2d2d2d;
}

.titlewrapper {
  text-align: center;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

nav {
  width: 800px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  &:after {
    clear: both;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    width: 20%;
    float: left;
    a {
      display: block;
      height: 40px;
      line-height: 40px;
      background: #c0c0c0;
      &:hover {
        background: #d9d9d9;
      }
    }
  }
}

.wrap {
  width: 800px;
  max-width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background: #ddd;
  padding: 20px;
}


.post-list,
.archive-list {
  height: 66px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  h1 {
    line-height: 125%;
    font-size: 20px;
  }
}

.sidebar {
  margin-left: auto;
  margin-right: auto;
  background: #ddd;
  ul {
    margin: 0;
    padding: 0;
    li {
      float: left;
      list-style: none;
    }
  }
  .tagcloud a {
    display: inline-block;
    padding: 0 10px;
  }
  .archives li {
    padding: 0 20px;
  }
}

.archive-list-link {
  display: block;
  margin: 10px;
}

footer {
  margin: 20px auto;
  width: 800px;
  max-width: 100%;
  text-align: center;
  background: #ddd;
}

//文章目录
.toc-container {
  float: right;
  border: solid 1px #cccccc;
  margin-left: 10px;
  ol {
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
    li {
      padding: 5px 0;
    }
  }
}

// 文章内容
article {
  .article-content {
    color: #444;
    font-size: 16px;
    font-family: Arial, 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', 'SimSun', '宋体', 'Helvetica,Tahoma', 'Arial sans-serif';
    -webkit-font-smoothing: antialiased;
    line-height: 1.8;
    word-wrap: break-word;
    &>pre {
      background: #2d2d2d;
      overflow-x: auto;
      code {
        background: transparent;
        overflow-x: auto;
      }
    }
  }
  img {
    border: 1px solid #ccc;
    display: block;
    margin: 10px 0 5px;
    max-width: 100%;
    padding: 0;
  }
  .highlight {
    max-width: 100%;
    padding: 15px 20px;
    overflow-x: auto;
    background: #2d2d2d;
    margin: 20px 0;
    figcaption {
      text-align: right;
      background: #d9d9d9;
    }
    .gutter {
      width: 20px;
      text-align: center;
      pre {
        padding-right: 20px;
        text-align: right;
      }
    }
    td {
      border: none;
      padding: 0;
    }
    .line {
      height: 22.400000000000002px;
    }
  }
  .post-info {
    padding: 20px 0;
  }
}

.page-navigator {
  text-align: right;
  .page-number {
    border: 1px solid #999;
    padding: 6px;
    margin: 4px;
    color: #0000ee;
    background: #b3b3b3;
    &:hover {
      background: #e6e6e6;
    }
    &.current {
      background: #e6e6e6;
    }
  }
}

pre .comment,
pre .title {
  color: #999;
}

pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}

pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}

pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}

pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}

pre .css .hexcolor {
  color: #6cc;
}

pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}

pre .keyword,
pre .javascript .function {
  color: #c9c;
}
